{% extends "base.html" %}

{% block content %}
    <h2>About the school of computer sarcasm</h2>
<p style="font-family:'Comic Sans MS'; font-weight: bold;">
This website has been made to show the capabilities of computer intelligence in sarcasm analysis.
</p>

<h4>What is sarcasm anyway?</h4>
<p>Sarcasm is defined in the Cambridge dictionary as "the use of remarks that clearly mean the opposite of what they say, made in order to hurt
    someone's feelings or to criticize something in a humorous way"; or if you happen to be American,
"remarks that mean the opposite of what they say, made to criticize someone or something in a way that is amusing
    to others but annoying to the person criticized".</p>
<h4>So why is it hard to detect?</h4>
<p>Sarcasm analysis is a complex task for humans. Often in conversation sarcasm is noticed through the use of intonation
    or body language. In a written medium these cues are not available, and humans will often rely on contextual information.
    If we read the following sentence "Yea, great!!!!!" do we know if it is sarcastic? This could mean that someone is extremely excited
    about something, or it could mean that they are being very sarcastic, in isolation it is extremely hard to tell.<br>
    In online communication the problem is compounded as people place short comments in isolation, such as below an article on
    Facebook. Unless the person reading it also sees the article they may not be able to judge the sarcasm, and even then
    it is not always clear due to vastly differing opinions.
</p>
<h4>Okay... so how does a computer program begin to understand this</h4>
<p>
    This is where the Machine Learning topic of Natural Language Processing comes in.
</p>
<h4>Yes.... Natural Language Processing....I know exactly what you are talking about</h4>
<p>
    Natural Language Processing is an area of computer science whereby computers are programmed to process analyse large amounts of natural
    language data. This information is then used by the computer to perform a desired function. <br>
    In slightly simpler terms this means that we take a computer program and show it a lot of text with some additional
     information (e.g. whether or not it is sarcastic) and then apply this to a desired use, such as to tell us if
    a new sentence it has never seen before is sarcastic or not.
</p>
<h4>This sounds quite simple, why is everyone not doing it?</h4>
<p>

</p>

{% endblock %}