{% extends "base.html" %}

{% block content %}
    <h2>Welcome to the school of computer sarcasm!</h2>
<body>
<p>
    The purpose of this website is to help people understand how natural language processing, the method
of training a computer program to extract useful information from text, works.
</p>
<p>
    You can find more information on the <a href="{{ url_for('about')}}">about</a> page and you can find the application
    to test for yourself on the <a href="{{ url_for('detect_sarcasm')}}">Sarcasm Score Generator</a> page.
</p>
<p>
    I really hope you have a great day....hmm yea okay
</p>


</body>


{% endblock %}